html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1920px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    align-content: center;
    font-size: 20px;
    width: 15%;
    background-color: rgb(190, 190, 190);
    padding: 10px 20px 0px;
}
.ativo {
    pointer-events: none;   /* impede o clique */
    color: #555;            /* cor diferente */
    font-weight: bold;      /* destaca */
    text-decoration: none;  /* remove sublinhado */
    cursor: default;        /* cursor normal */
}
.header {
    background-color: rgb(5, 108, 108);
    min-height: 150px;
}
.content {
    text-align: center;
    font-size: 20px;
    background-color: white;
    min-height: 300px;
    padding: 20px;
}
.content table {
    margin: 0 auto;
}
.footer {
    text-align: center;
    background-color: rgb(238, 238, 238);
    min-height: 150px;
}
form {
    background-color: #f2f2f2; 
    padding: 20px;
    width: 60%;
    margin: 20px auto;    
    border-radius: 5px;
}
form textarea, input {
    width: 95%;         
    padding: 8px;
    margin-top: 5px;
}
